* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  background-size: cover;
  align-items: center;

  padding: 5%;
}
.bg-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.buttonList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
}
.greetingList {
  display: flex;
}
